
.digg-item {
    margin-bottom:10px;
}
.digg-diggs {
    float:left;
    padding:10px;
    font-size:16px;
    width:40px;
    text-align:center;
    background:#fcfcfc;
    border:1px solid #efefef;
    margin-right:15px;
}
